@import "tailwindcss";

@theme {
  --text-xxs: 0.625rem; /* 10px */
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}

.animate-border {
  animation: border 2s linear infinite;
}